@model RightPath.Models.NewModelView.WebminarImage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Webminar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebminarDescription" class="control-label"></label>
                <input asp-for="WebminarDescription" class="form-control" />
                <span asp-validation-for="WebminarDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebminarLocation" class="control-label"></label>
                <input asp-for="WebminarLocation" class="form-control" />
                <span asp-validation-for="WebminarLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebminarLogo" class="control-label"></label>
                <input asp-for="WebminarLogo" id="customFile" />
                <span asp-validation-for="WebminarLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecture1" class="control-label"></label>
                <input asp-for="Lecture1" class="form-control" />
                <span asp-validation-for="Lecture1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecture2" class="control-label"></label>
                <input asp-for="Lecture2" class="form-control" />
                <span asp-validation-for="Lecture2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
