@model RightPath.Models.Course;

@{
    ViewData["Title"] = "Create Course";
}

<h1 class="fw-bold">Create</h1>

<h5>Course</h5>
<hr />
<div class="row justify-content-center">
    <div class="col-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group py-1">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="Lecture1Id" class="control-label"></label>
                <input asp-for="Lecture1Id" class="form-control" />
                <span asp-validation-for="Lecture1Id" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="Lecture2Id" class="control-label"></label>
                <input asp-for="Lecture2Id" class="form-control" />
                <span asp-validation-for="Lecture2Id" class="text-danger"></span>
            </div>
            @* <div class="form-group mt-3">
                <label asp-for="Logo" class="control-label"></label>
                <input type="file" asp-for="Logo" id="customFile" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div> *@
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary btn-md" />
                <a class="btn btn-link btn-md" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
