@model IEnumerable<RightPath.Models.City>

<partial name="_Notification"/>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">Списък от Градове</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Cities" asp-action="Create" class="btn btn-primary shadow">
                    <i class="bi bi-plus-circle"></i> Добави нов Град
                </a>
            </div>
        </div>
        <table class="table table-custom table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        City Name
                    </th>
                    <th>
                        Display Order
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                           @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayOrder)
                        </td>
                        <td>
                            <div class="d-flex justify-content-center" role="group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="w-8 shadow btn btn-light mx-2">
                                    <i class="bi bi-pencil-square"></i> Редактиране
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="w-8 shadow btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Изтрий
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

