@page
@model Disable2faModel
@{
    ViewData["Title"] = "Деактивирайте двуфакторната проверка";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Това действие деактивира само двувакторната проверка.</strong>
    </p>
    <p>
        Деактивирането на 2FA не променя ключовете, използвани в приложенията за удостоверяване. Ако искате да смените ключа
        използвани в приложение за удостоверяване, което трябва <a asp-page="./ResetAuthenticator">нулирайте вашите ключове за удостоверяване.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Деактивирайте двуфактормната проверка</button>
    </form>
</div>
