@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Поставете тези кодове на сигурно място.</strong>
    </p>
    <p>
        Ако загубите устройството си и нямате кодовете за възстановяване, ще загубите достъп до акаунта си.
    </p>
    <p>
        Генерирането на нови кодове за възстановяване не променя ключовете, използвани в приложенията за удостоверяване. Ако искате да смените ключа
        използвани в приложение за удостоверяване, което трябва <a asp-page="./ResetAuthenticator">нулирайте вашите ключове за удостоверяване.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генериране на кодове за възстановяване</button>
    </form>
</div>
