<div class="my-5" style="position: relative;">
    <div style="max-width: 100%; margin-left: auto; margin-right: auto;">
        <div style="position: relative; box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); border-radius: 1rem; overflow: hidden;">
            <div style="position: absolute; top: 0; right: 0; bottom:0; left: 0;">
                <img style="width: 100%; object-fit: cover;" src="https://images.unsplash.com/photo-1553117595-56534f5d7492?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="People working on laptops">
            </div>
            <div style="position: relative; padding-left: 1rem; padding-right: 1rem; padding-top: 10rem; padding-bottom: 10rem;">
                <h1 style="text-align: center; font-size: 2.25rem; font-weight: 800; letter-spacing: -0.01562em; color: white;">
                    <span style="display: block;">Разбери повече</span>
                    <span style="display: block; color:#FFD275">За Нас</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="mt-5 row" >
        <div class="col-12 text-center" style="width:600px; max-width: 100%; margin-left: auto; margin-right: auto;">
            <h1 style="color:#FFD275">Нашата Мисия</h1>
            <p">
                Мисията ни в "RightPath" е простираща се - да предоставим пътека, която да води към образование и растеж за всеки. 
                Вярваме в образованието като ключ към преуспяване и развитие на индивида и обществото като цяло. 
                Затова създаваме платформа, която не само предлага курсове и уебинари, но и създава общност, в която ученето е вълнуващо 
                пътуване, а достъпът до знание е безпрепятствен за всеки, който е готов да се открива и развива. 
                Нашата мисия е да бъдем мост между желаещите да учат и знанието, което им помага да постигнат своите цели и мечти.
            </p>
        </div>
    </div>
</div>