@model LectureVM;

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2"> @(Model.Lecture.Id != 0 ? "Редактирай" : "Създай") Лектор</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Upsert" enctype="multipart/form-data">
            <input asp-for="Lecture.Id" hidden />
            <input asp-for="Lecture.ProfileImage" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="form-group py-1">
                        <label asp-for="Lecture.Name" class="control-label"></label>
                        <input asp-for="Lecture.Name" class="form-control" />
                        <span asp-validation-for="Lecture.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group py-1">
                        <label asp-for="Lecture.Description" class="control-label"></label>
                        <input asp-for="Lecture.Description" class="form-control" />
                        <span asp-validation-for="Lecture.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group py-1">
                        <label asp-for="Lecture.ProfileImage" class="control-label"></label>
                        <input type="file" name="file" class="form-control border-0 shadow" />
                    </div>
                    <div class="row pt-3">
                        <div class="col-6 col-md-3">
                            @if (Model.Lecture.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary btn-md form-control">
                                    Редактирай
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary btn-md form-control">
                                    Създай
                                </button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="btn btn-link btn-md" asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if (Model.Lecture.ProfileImage== null)
                    {
                        <p>Все още не сте избрали снимка!</p>
                    }
                    else
                    {
                        <img src="@Model.Lecture.ProfileImage" width="100%" alt="Lecture ProfilePicture"
                             style="border-radius:5px; border:1px solid #bbb9b9;" />
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
